@using Microsoft.AspNetCore.Http

@model PersonalWeb.Models.ViewModels.ResumeViewModel;


@{
    ViewData["Title"] = "Home Page";
}
<style>
    input[type='submit'], button, [aria-label] {
        cursor: pointer;
    }

    .api-form {
        display: none;
    }
</style>
<link rel="stylesheet" href="~/css/IndexCSS.css" />
@*<script src="~/js/site.js"></script>*@

<section id="about" class="home-section">
    <div class="container">

        <div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <div class="col-left">
                <div id="profile">
                    <div class="portrait">
                        <img src="/StaticFiles/por.JPG">
                    </div>


                    <div class="portrait-title">
                        <h2 itemprop="name">@Model.user.UserFirstName @Model.user.UserLastName</h2>
                        <h3 itemprop="position">Syracuse University Student</h3>
                    </div>
                </div>

                @*<div>
                @if (User.IsInRole("Admin"))
                {


                <a href ="/html/Upload.html">Upload Resume</a>


            }
                </div>*@
            </div>

            <div class="col-right" itemprop="description">

                <h1 id="introduction">About me</h1>

                <p>Hi, this is Qinyu Xie. I am a Syracuse University student who major in Computer Engineering now. I have strong knowledge of softeare engineering, object oriented design and internet programming. With these skills, I am going to create some interesting applications and frameworks.</p>

                <p>As a video logger, I also love traveling, reading and taking photos. I am always willing to try new things, and keeping to learn from them.</p>

                <div class="row">


                    <div class="col-sm-5">
                        <h3>Job Interests</h3>
                        <ul class="ul-interests">

                            <li>IOS Development</li>

                            <li>Swift Programming</li>

                            <li>Open Source Software</li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<section id="section-education" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-left" section-heading">
                <h1>Education</h1>
            </div>

            <div class="col-right">

                @foreach (var education in Model.eduDetails)
                {
                <tr>
                    <td>
                        <h2 id="school-name">@education.SchoolName</h2>
                    </td>

                    <p><span>@education.Degree in @education.Major</span></p>


                    <td>@education.FromYear</td> /
                    <td>@education.FromMonth</td> ~
                    <td>@education.ToYear</td> /
                    <td>@education.ToMonth</td>
                    <p><span>@education.ReleventCourses</span></p>

                    @if (User.IsInRole("Admin"))
                    {                
                    <a id="deleteEduButton" href="" style="color: #007bff" class="delete" onclick="deleteEduItem(@education.EduId)">Delete</a>

                    }


                </tr>
                }

                <br>

                @if (User.IsInRole("Admin"))
                {
                   <div id="add-eduItem" class="api-form">
                    <h3>Add</h3>
                    <form  method="POST" class="addEdu-form">
                        <input type="hidden" id="add-id">
                        School Name<br>
                        <input type="text" id="add-schoolName"><br>
                        Degree<br>
                        <input type="text" id="add-degree"><br>
                        Major<br>
                        <input type="text" id="add-major"><br>

                        From<br>
                        Year <input type="number" id="add-fromYear">
                        Month <input type="number" id="add-fromMonth"><br>
                        To<br>
                        Year <input type="number" id="add-toYear">
                        Month <input type="number" id="add-toMonth"><br>

                        Relevant Courses<br>
                        <input type="text" id="add-courses">
                        <br>

                        <br><input type="submit" value="Add" onclick="submitEduItem()">
                        <button onclick="closeAddEduInput()">Cancel</button>
                    </form>
                </div>
                <br>


                <div>
                    <button id="button-add-edu" onclick="addEduItem()">Add Education</button>
                </div>
                }



            </div>
        </div>

    </div>
</section>




<section id="section-work" class="home-section">
    <div class="container">

        <div class="row">
            <div class="col-left section-heading">
                <h1>Work</h1>
            </div>

            <div class="col-right">

                @foreach (var work in Model.workDetails)
    {
            <h2>@work.CompanyName</h2>
            <h4>@work.FromMonth @work.FromYear - @work.ToMonth @work.ToYear</h4>

            <p>@work.Position, @work.Location</p>

            <ul>
                @{
        string[] res = (@work.Responsibility).Split(';');
                }

                @foreach (string @des in res)
    {
            <li>@des</li>
}
            </ul>


            @if (User.IsInRole("Admin"))
{
            <a id="deleteWorkButton" href="" style="color: #007bff" class="delete" onclick="deleteWorkItem(@work.WorkId)">Delete</a>

}


            <br>
}
                            @if (User.IsInRole("Admin"))
                            {


                <div id="add-workItem" class="api-form">
                    <h3>Add</h3>
                    <form method="POST" class="addWork-form">

                        Company Name<br>
                        <input type="text" id="add-wk-companyName"><br>
                        Position<br>
                        <input type="text" id="add-wk-position"><br>
                        Location<br>
                        <input type="text" id="add-wk-location"><br>

                        From<br>
                        Year <input type="number" id="add-wk-fromYear">
                        Month <input type="number" id="add-wk-fromMonth"><br>
                        To<br>
                        Year <input type="number" id="add-wk-toYear">
                        Month <input type="number" id="add-wk-toMonth"><br>

                        Responsibility<br>
                        <input type="text" id="add-responsibility">
                        <br>

                        <br><input type="submit" value="Add" onclick="submitWorkItem()">
                        <button onclick="closeAddWorkInput()">Cancel</button>
                    </form>
                </div>
                <br>

                <div>
                    <button id="button-add-work" onclick="addWorkItem()">Add Work Experience</button>
                </div>
                }
            </div>
        </div>

    </div>
</section>




<section id="section-project" class="home-section">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1>Project</h1>
            </div>

            <div class="col-xs-12 col-md-8">


                @foreach (var proj in Model.projectDetails)
    {
            <h2>@proj.ProjectName</h2>
            <h3 id="school-name">@proj.FromMonth @proj.FromYear - @proj.ToMonth @proj.ToYear</h3>

            <p>@proj.Position, @proj.Location</p>

            <ul>
                @{
        string[] description = (@proj.Description).Split(';');
                }

                @foreach (string @des in description)
    {
            <li>@des</li>
}
            </ul>

            @if (User.IsInRole("Admin"))
            {

            <a id="deleteProjButton" href="" style="color: #007bff" class="delete" onclick="deleteProjItem(@proj.ProjectId)">Delete</a>
                }

            }
                <br>


                            @if (User.IsInRole("Admin"))
                            {

                <div id="add-projItem" class="api-form">
                    <h3>Add</h3>
                    <form action="javascript:void(0);" method="POST" class="addProj-form">
                        <input type="hidden" id="add-id">
                        Project Name<br>
                        <input type="text" id="add-proj-projName"><br>
                        Position<br>
                        <input type="text" id="add-proj-position"><br>
                        Location<br>
                        <input type="text" id="add-proj-location"><br>

                        From<br>
                        Year <input type="number" id="add-proj-fromYear">
                        Month <input type="number" id="add-proj-fromMonth"><br>
                        To<br>
                        Year <input type="number" id="add-proj-toYear">
                        Month <input type="number" id="add-proj-toMonth"><br>

                        Description<br>
                        <input type="text" id="add-description">
                        <br>

                        <br><input type="submit" value="Add" onclick="submitProjItem()">
                        <button onclick="closeAddProjInput()">Cancel</button>
                    </form>
                </div>
                <br>

                <div>
                    <button id="button-add-proj" onclick="addProjItem()">Add Project</button>
                </div>
                }
            </div>
        </div>

    </div>
</section>


<section id="section-project" class="home-section">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1>Comment</h1>
            </div>

            <div class="col-xs-12 col-md-8">


                @foreach (var com in Model.comments)
    {
            <div style="background-color:rgb(247, 230, 230);">
                 <p> @com.FromUserNm :    @com.CommentContent</p>
                @if (User.IsInRole("Admin") | User.IsInRole("User"))
    {

            <a id="deleteCommButton" href="" style="color: #007bff" class="delete" onclick="deleteCommItem(@com.CommentId)">Delete</a>
            <br>
                }
            </div>

}



                @if (User.IsInRole("User") | User.IsInRole("Admin"))
    {

            <div id="add-commItem" class="api-form">
                <h3>Add Comments</h3>
                <form action="javascript:void(0);" method="POST" class="addCom-form">

                    User Name<br>
                    <input type="text" id="add-userName"><br>
                    Comment Content<br>
                    <input type="text" id="add-comm"><br>

                    <br><input type="submit" value="Add" onclick="submitCommItem()">
                    <button onclick="closeAddCommInput()">Cancel</button>
                </form>
            </div>
            <br>

            <div>
                <button id="button-add-comm" onclick="addCommItem()">Add Comments</button>
            </div>
}
            </div>
        </div>

    </div>
</section>

<section id="section-contact" class="home-section">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1>Contact</h1>

            </div>
            <div class="col-xs-12 col-md-8">

                <ul class="fa-ul">

                    <li>
                        <i class="fa-li fa fa-envelope fa-2x" aria-hidden="true"></i>
                        Email : <span><a href="mailto:qinyu.syr@gmail.com">qinyu.syr@gmail.com</a></span>
                    </li>

                    <li>
                        <i class="fa-li fa fa-envelope fa-2x" aria-hidden="true"></i>
                        Phone : <span>+1 (315) 450-8661</span>
                    </li>

                    <li>
                        <i class="fa-li fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        Address : <span>505 Walnut Ave, Syracuse, New York State, 13210, the United State</span>
                    </li>

                    <li>
                        <i class="fa-li fa fa-clock-o fa-2x" aria-hidden="true"></i>
                        <span>Please send an email if you want further infomation</span>
                    </li>

                </ul>

            </div>
        </div>

    </div>
</section>